.Upgrades1Div {
    position: absolute;
}

#Upgrade1 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 20px;
}

#Upgrade2 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 20px;
    transform: translateY(23%);
}

#UpgradeLabel {
    font-size: 40px;
}
#UpgradeLabelDiv {
    text-align: center;
}

#Upgrade1:hover {
    background-color: lightgray;
}

